<?xml version="1.0"?>
<robot name="mega3_zed" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find megarover_description)/urdf/mega3.xacro" />

  <!-- ZED2i physical mount position (visual indicator only, ZED SDK manages its own frames) -->
  <link name="zed_mount_link"/>
  <joint name="zed_mount_joint" type="fixed">
    <parent link="base_link" />
    <child link="zed_mount_link" />
    <origin xyz="0 0 1.0" rpy="0 0 0" />
  </joint>

</robot>
