<?xml version="1.0"?>
<robot name="mega3_zed" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find megarover_description)/urdf/mega3.xacro" />

  <!-- ZED2i physical mount position (visual indicator only, ZED SDK manages its own frames) -->
  <link name="zed_mount_link">
    <visual>
      <origin xyz="-0.01 0 0.015" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://zed_description/meshes/zed2i.stl"/>
      </geometry>
      <material name="zed_dark">
        <color rgba="0.25 0.25 0.25 1.0"/>
      </material>
    </visual>
  </link>
  <joint name="zed_mount_joint" type="fixed">
    <parent link="base_link" />
    <child link="zed_mount_link" />
    <origin xyz="0 0 1.20" rpy="0 0 0" />
  </joint>

</robot>
